<div>
  <img src="../assets/IT services .svg" alt="image">
  </div>

<mat-card>
<mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
        Android App
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <mat-grid-list [responsive]="responsive"
      (responsiveColsChange)="cols = $event">
        <mat-grid-tile>
         <p>
            {{(showMore) ? text : text | slice:0:300}} <span *ngIf="!showMore">...</span> 
            <a href="javascript:;" *ngIf="!showMore" (click)="showMore=true">[Show More]</a>
            <a href="javascript:;" *ngIf="showMore" (click)="showMore=false">[Show Less]</a>
            </p>
           </mat-grid-tile>
       
           <mat-grid-tile >
             <div class="img-side">
            <img src="../assets/Ui Design.svg" alt="image" width="100%">
            </div>
           </mat-grid-tile>
          
        </mat-grid-listcontent> -->
        <div class="content">
          <ul>
            <li>
              <p>
                We specialize in app development and maintenance based on android. 
                A custom agile system that minimises risk, maximises speed, and promotes 
                accountability is leveraged by our Android development process. We have a 
                team of seasoned developers who specialise in the production of Android and 
                are designated for your project. Our mobile app development team will get to
                 know the concept of your project and its goals. We will develop a template for 
                 every section that has a smooth flow after refinement of the plan and preparation 
                 of a thorough perspective. Then, based on the template of Android development services, 
                 e'll build the software. To build an app that is visually pleasing, we add graphics, 
                 icons and functionality. In addition, by adding the necessary functions and server-side 
                 elements to our Android development services, we will also grow the app. Further, we check 
                 the prototype for bugs and errors which can be resolved at the same point. At a last step, 
                 we deploy application on play store and from there it would be downloaded by your target group. 
                 On top of our Android development services, we deliver customised maintenance and support packages 
                 that help you handle platform updates and ongoing version releases. 
              </p>
            </li>
            <li>
              <img src="../assets/android app dev.svg" alt="image">
            </li>
          </ul>
          </div>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          IOS
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="content">
      <ul>
        <li>
          <p>
            We believe in satisfying out clients’ needs irrespective of software and platform. 
            We work in building interactive and futuristic IOS applications regardless of their
             complexity and integrated devices. Our best in class apps are designed to function 
             seamlessly and provide mobility solutions to our clients. With variety of designs,
              pinpoint programming and attractive interface – we provide end to end application 
              development and solutions. The applications are created keeping in mind, high performance, 
              robustness, security and friendly access. With effective development process and after 
              deployment service, we build trust and create long term relationship with our clients.
              We follow client based approach to understand their requirements, apply minimal coding and 
              followed by rigorous testing of the application to make it ready by the deemed timelines. 
              Backed with new age technology and software tools, we provide IOS services from application ideation, 
              business strategy, and design to App Store Submission and future-proofing. Whether you are looking for 
              experts to turn your business idea into a functional iOS app, to design a sleek interface and seamless 
              user experience, to provide high-end coding or to require full-cycle iOS development services, 
              we are always there to help you out.
          </p>
        </li>
        <li>
          <img src="../assets/ios app dev.svg" alt="image">
        </li>
      </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
         Ecommerce Website
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="content">
      <ul>
        <li>
          <p>
            As brick and mortar stores become a thing of the past, having online store 
            is becoming more and more important to the success of any company. 
            However, finding the right E-Commerce developer for the needs of business can 
            be tricky. To ensure your company have a reachable online presence – an ecommerce 
            website can work wonders and to make that wonder into a reality, we are there to 
            serve you right. We aim to provide satisfactory solutions to your business needs 
            right from design to development to maintenance. Our team consists of top web 
            designers and developers who specialise in solutions, consulting, site design, 
            creation, marketing, system integration and support for WordPress. We are a 
            result-driven agency serving educational, corporate, travel, industry, real estate, etc. 
            ranging from B2B, B2C or a hybrid model. To provide commendable on-line shopping cart solutions, 
            we create sensitive and easy-to-use websites. We aim to create websites that helps you maximize 
            your business revenue through online sales of products and services. With basic features loaded 
            we also deliver plugins that keeps continuously evolving with ecommerce industry. 
            Right from the scratch to the last point happiness of buying a product online through 
            ecommerce website- we make it all a reality.
          </p>
        </li>
        <li>
          <img src="../assets/ecom app dev.svg" alt="image">
        </li>
      </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
       Static Website
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="content">
      <ul>
        <li>
          <p>
            Static websites are backbone of any interactive and complex website. 
            We believe in delivering from scratch to highly complex and intuitive websites.
             We provide our various clientele with design solutions and services. 
             Static websites are trendy, with designer ideas as we build new philosophy for website. 
             Custom design is our expertise added with low cost and accessible design. 
             We consider the need and demand of a company and we do not compromise on our services. 
             To boost the perspective and layout of a website, our web designers employ innovative ideas.
              In order to combine them with fascinating pictures and graphics, they will design, 
              build and code internet pages, thereby giving you the best quality of work. Choosing the right 
              colour, font, overall layout and photographs that are solely responsible for making a successful 
              website is a significant feature. We provide a friendly and equal platform for providing services 
              for your business growth and development, such as designing, creating and maintaining an efficient 
              web presence. Our static website design services are properly designed and implemented to assist 
              customers with the purpose of branding. So, if you are looking out for getting a static yet visually 
              appealing website for your company, you know who can ace it.
          </p>
        </li>
        <li>
          <img src="../assets/static website dev.svg" alt="image">
        </li>
      </ul>
      </div>
    </mat-expansion-panel>




    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
        Dynamic Website
        </mat-panel-title>
      </mat-expansion-panel-header>
    <div class="content">
      <ul>
        <li>
          <p>
            Through our dynamic website suite, we strive to give our customers the best result-oriented
            implementations according to their requirements and budget.  We serve personalized, 
            interactive website design services to help businesses develop a positive engagement with their 
            clients and stakeholders. When designing a dynamic website, our prime objective is to reach the 
            maximum targeted audience. For even complex website project, we support our prospective clients 
            to get an efficient and reasonable solution. We provide solutions that are best in market with 
            easy accessibility and reach. The web pages can be simple yet interactive and easily manageable.
             While fulfilling needs our clients we keep in mind to provide professional outlook and customizable 
             framework to them. We cover a selection of web design and development services that dynamically connect 
             your images to the online world. We keep in place your dynamic engagement with all the stakeholders. 
             In these time of advancement in technology and digitalisation, we need to realise that a properly built 
             website can function very well as your web representative and can also give you a positive response 
             to your company at the same time. At Addvic, we give you the most affordable rates with the most 
             outstanding dynamic website designing service.
          </p>
        </li>
        <li>
          <img src="../assets/dynamic website dev.svg" alt="image">
        </li>
      </ul>
      </div>
    </mat-expansion-panel>
    </mat-accordion>
    </mat-card>

    <mat-card-content>
      <form class="example-form" #serviceForm="ngForm">  
          <table class="example-full-width" cellspacing="0">
              <tr>
                  <td>
                      <mat-form-field appearance="outline" class="label-width">
                          <input matInput [(ngModel)]="serviceObj.fullName" name="fullName" placeholder="Enter FullName" required fxFlex>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-form-field appearance="outline" class="label-width">
                          <input matInput [(ngModel)]="serviceObj.email" placeholder="Enter Email" name="email" required fxFlex>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-form-field appearance="outline" class="label-width">
                          <input matInput [(ngModel)]="serviceObj.mobile" placeholder="Enter Mobile No." name="mobile" required fxFlex>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-form-field appearance="outline">
                          <mat-label>Service List</mat-label>
                       <mat-select [formControl]="serviceList" multiple>
                              <mat-option *ngFor="let service of services" (click)="selectService(service)" [value]="service.services">
                                  {{service.services}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </td>
              </tr> 
          </table>
          <mat-card-actions>
              <button mat-flat-button (click)="submit(serviceForm)" color="primary">Add</button>
          </mat-card-actions>
      </form>
  
  </mat-card-content>
    <div class="clear"></div>

    <div class="row-2">
        <div class="container">
            <mat-grid-list rowHeight="1:0.6"
            [responsive]="responsive"
            (responsiveColsChange)="cols = $event">
            <mat-grid-tile>
                
                <ul>
                    <li><b>Important Links :</b></li>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/certificate/certificateNumber">Certificate Verification</a></li>
                    <li><a routerLink="/create/feedback">Contact Us</a></li>
                    <li><a routerLink="/feedback">Feedback Form</a></li>
                    <li><a routerLink="/student/login">Login</a></li>
                </ul>
            </mat-grid-tile>
           
            <mat-grid-tile>
                <ul>
                    <li><b>Our Other Accounts Here :</b></li>
                    <li><a href="https://www.instagram.com/addvic_technology/">
                        <i class="fa fa-instagram fa-fw" style="font-size:24px"></i>
                        Instagram</a></li>
                    <li><a href="https://www.facebook.com/addvictechnology">
                        <i class="fa fa-facebook-f fa-fw" style="font-size:24px"></i>
                        Facebook</a></li>
                    <li><a href="https://www.linkedin.com/company/addvic">
                        <i class="fa fa-linkedin fa-fw" style="font-size:24px"></i>
                        Linkedin</a></li>
                    <li><a href="https://www.youtube.com/">
                        <i class="fa fa-youtube fa-fw" style="font-size:24px"></i>
                        Youtube</a></li>
                    <li><a href="https://wa.me/message/MN4AEW3ISURRK1">
                        <i class="fa fa-whatsapp fa-fw" style="font-size:24px"></i>
                        Whatsapp</a></li>
                </ul>
            </mat-grid-tile>
        
            <mat-grid-tile>
                <ul>
                    <li><b>Our Privacy Policy is Here :</b></li>
                    <li><a routerLink="/privacy">Privacy Policy</a></li><br>
                    <li><b>About Our Terms & Conditions :</b></li>
                    <li><a routerLink="/termsAndCondition">Terms & Conditions</a></li><br>
                    <li><a routerLink="/hiring" style="color: #e2b84f;">We are Hiring !</a></li>
                    </ul>
            </mat-grid-tile>
            <mat-grid-tile>
           
                <ul>
                    <li><b>Phone :</b></li>
                    <li><a href="tel:18002671818">18002671818</a></li>
                    <li><b>Email :</b></li>
                    <li><a href="mailto:info@addvic.com">info@addvic.com</a></li>
                    <li><b>Address :</b></li>
                    <li>Chanakya Nagari, 3rd Floor, <br> Sinhgad Rd, 
                        Anand Nagar, <br> Pune - 411051</li>
                    </ul>
        
               </mat-grid-tile>
        
            </mat-grid-list>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row-3">
            CIN No.: U72900PN2020OPC194352
            </div>
            <div class="row-3">
                GST No.: 27AAUCA0988N1ZQ
                </div>
        <div class="row-3">
        All Rights Reserved @ <a routerLink="/home">Addvic Technology (OPC) Pvt Ltd.</a>
        </div>
