<div class="banner-img">
  <img src="../assets/IT services .svg" alt="image">
	<h1>"We provide Best Web & App Development Service"</h1>
  </div>

<div class="main-form">
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px">
	<div>
		
		<form class="example-form" #serviceForm="ngForm">  
          <table class="example-full-width" cellspacing="0">
			  <tr>
			  	<td>
				  <h6 class="form-heading">Request a Quote</h6>
				  </td>
			  </tr>
              <tr>
                  <td>
                      <mat-form-field appearance="outline" class="label-width">
                          <input matInput [(ngModel)]="serviceObj.fullName" name="fullName" placeholder="Enter Full Name" required fxFlex>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-form-field appearance="outline" class="label-width">
                          <input matInput [(ngModel)]="serviceObj.email" placeholder="Enter Email" name="email" required fxFlex>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-form-field appearance="outline" class="label-width">
                          <input matInput [(ngModel)]="serviceObj.mobile" placeholder="Enter Mobile No." name="mobile" required fxFlex>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td>
                      <mat-form-field appearance="outline">
                          <mat-label>Service List</mat-label>
                       <mat-select [formControl]="serviceList" multiple>
                              <mat-option *ngFor="let service of services" (click)="selectService(service)" [value]="service.services">
                                  {{service.services}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </td>
              </tr> 
          </table>
          <mat-card-actions>
              <button mat-flat-button (click)="submit(serviceForm)" color="primary" class="btn-center">Send Enquiry</button>
          </mat-card-actions>
      </form>
	</div>
</div>
</div>



<div class="main-heading"><h3>We Are Specializing In</h3></div>




<div class="main">
	<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px">
			<div class="box-1">
				<h1>Ecommerce</h1>
				<p>
    &nbsp; &nbsp; To ensure your company has a reachable online presence – an e-commerce website can work
wonders and make that wonder into a reality, we are there to serve you right. We are a result-driven
agency serving educational, corporate, travel, industry, real estate, etc. ranging from B2B, B2C, or a
hybrid model.<br><br>
 
	&nbsp; &nbsp; &nbsp; We aim to create websites that help you maximize your business revenue through online sales of products and services. 
              </p>
			</div>
			<div class="box-2">
				<img src="../assets/ecom app dev.svg" alt="image">
			</div>
	</div>
</div>

<div class="Break-Line-shade"></div>







<div class="main">
	<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px">
			<div class="box-1">
				<h1>Static Websites</h1>
				<p>
    &nbsp; &nbsp; Static websites are trendy, with design ideas as we build new philosophy for the website. We
will design, build and code internet pages, thereby giving you the best quality of work. We provide a
friendly and equal platform for providing services for your business growth and development, such as
designing, creating, and maintaining an efficient web presence.<br><br>
 
	&nbsp; &nbsp; &nbsp; So, if you are looking out for getting a static yet visually appealing website for your company, you know who can ace it. 
              </p>
			</div>
			<div class="box-2">
				<img src="../assets/static website dev.svg" alt="image">
			</div>
	</div>
</div>

<div class="Break-Line-shade"></div>





<div class="main">
	<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px">
			<div class="box-1">
				<h1>Dynamic Websites</h1>
				<p>
    &nbsp; &nbsp; When designing a dynamic website, our prime objective is to reach the maximum targeted
audience. We provide solutions that are best in the market with easy accessibility and reach. The web
pages can be simple yet interactive and easily manageable. We cover a selection of web design and
development services that dynamically connect your images to the online world.<br><br>
 
	&nbsp; &nbsp; &nbsp; At Addvic, we give you the most affordable rates with the most outstanding dynamic website
designing service. 
              </p>
			</div>
			<div class="box-2">
				<img src="../assets/dynamic website dev.svg" alt="image">
			</div>
	</div>
</div>

<div class="Break-Line-shade"></div>





<div class="main">
	<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px">
			<div class="box-1">
				<h1>Android App</h1>
				<p>
    &nbsp; &nbsp; We have a team of experienced developers who specialize in the production of Android and are designated for your project. We will get to know the concept of your project and its goals.<br><br>
 
	&nbsp; &nbsp; &nbsp; On top of our Android development services, we deliver customized maintenance and support packages that help you handle platform updates and ongoing version releases. 
              </p>
			</div>
			<div class="box-2">
				<img src="../assets/android app dev.svg" alt="image">
			</div>
	</div>
</div>

<div class="Break-Line-shade"></div>



<div class="main">
	<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px">
			<div class="box-1">
				<h1>IOS App</h1>
				<p>
    &nbsp; &nbsp; The applications are created keeping in mind, high performance, robustness, security, and
friendly access. With an effective development process and after-deployment service, we build trust and
create a long-term relationship with our clients.<br><br>
 
	&nbsp; &nbsp; &nbsp; Whether you are looking for experts to turn your business idea into a functional iOS app, to design a sleek interface and seamless user experience, to provide high-end coding services, we are
always there to help you out.
              </p>
			</div>
			<div class="box-2">
				<img src="../assets/ios app dev.svg" alt="image">
			</div>
	</div>
</div>







<section>
        <div class="footer footer-bg">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center top" fxLayoutGap="50px">
                <div>
                
                <ul>
                    <li><b>Important Links :</b></li>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/certificate/certificateNumber">Certificate Verification</a></li>
                    <li><a routerLink="/create/feedback">Contact Us</a></li>
                    <li><a routerLink="/feedback">Feedback Form</a></li>
                    <li><a routerLink="/student/login">Login</a></li>
                </ul>
                    </div>
                    <div>
                    <ul>
                    <li><b>Our Other Accounts Here :</b></li>
                    <li><a href="https://www.instagram.com/addvic_technology/">
                        <i class="fa fa-instagram fa-fw" style="font-size:24px"></i>
                        Instagram</a></li>
                    <li><a href="https://www.facebook.com/addvictechnology">
                        <i class="fa fa-facebook-f fa-fw" style="font-size:24px"></i>
                        Facebook</a></li>
                    <li><a href="https://www.linkedin.com/company/addvic">
                        <i class="fa fa-linkedin fa-fw" style="font-size:24px"></i>
                        Linkedin</a></li>
                    <li><a href="https://www.youtube.com/">
                        <i class="fa fa-youtube fa-fw" style="font-size:24px"></i>
                        Youtube</a></li>
                    <li><a href="https://wa.me/message/MN4AEW3ISURRK1">
                        <i class="fa fa-whatsapp fa-fw" style="font-size:24px"></i>
                        Whatsapp</a></li>
                </ul>
                    </div>
                    <div>
                    <ul>
                    <li><b>Our Privacy Policy is Here :</b></li>
                    <li><a routerLink="/privacy">Privacy Policy</a></li><br>
                    <li><b>About Our Terms & Conditions :</b></li>
                    <li><a routerLink="/termsAndCondition">Terms & Conditions</a></li><br>
                    <li><a routerLink="/hiring" style="color: #e2b84f;">We are Hiring !</a></li>
                    </ul>
                    </div>
                    <div>
                    <ul>
                    <li><b>Phone :</b></li>
                    <li><a href="tel:18002671818">18002671818</a></li>
                    <li><b>Email :</b></li>
                    <li><a href="mailto:info@addvic.com">info@addvic.com</a></li>
                    <li><b>Address :</b></li>
						<li><address>Chanakya Nagari, 3rd Floor, <br> Sinhgad Rd, 
                        Anand Nagar, <br> Pune - 411051</address></li>
                    </ul>
                    </div>
                    </div>
                    </div>
	
	<div class="footer-last">
            CIN No.: U72900PN2020OPC194352
            </div>
            <div class="footer-last">
                GST No.: 27AAUCA0988N1ZQ
                </div>
	<div class="footer-last" style="padding-bottom: 30px">
        All Rights Reserved &copy; <a routerLink="/home">Addvic Technology (OPC) Pvt Ltd.</a>
        </div>
        </section>


