
<mat-card-content>
    <form class="example-form" #designationForm="ngForm">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <input matInput placeholder="Add designation name" [(ngModel)]="designationObj.designationName" name="designationName" required>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </form>
    <mat-card-actions>
        <button mat-flat-button (click)="createDesignation(designationForm)" color="primary" type="submit">Add</button>
    </mat-card-actions>
</mat-card-content>