/*.example-card {
    max-width: 480px;
    margin-left: 401px;
    margin-top: 80px;
    max-height: 300px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.text{
    text-align:center '!important';
    margin: 0 auto '!important';
    display:inline;
    font-family: Poppins;
    color:#263238
}
mat-card-title {
    display: flex;
    justify-content: left;
    font-family: Poppins;
    color:#263238
}
.example-full-width{
    font-family: Poppins;
    color:#263238
}

mat-card-actions {
    margin-left: -8px;
    margin-right: -8px;
    padding: 4px 12px;
}

mat-card {
    margin-bottom: 10px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
*/

.box-1, .box-2 {
	width: 50%;
	justify-content: center;
	display: flex;
}

.box-1 img {
	width: 80%;
}

.service-heading h4 {
	text-align: center;
	font-size: 30px;
	color: #44A0A5;
	margin-top: 80px;
	line-height: 42px;
}

@media only screen and (max-width: 959px){	
	.box-2 {
	margin-top: -100px
}
	.box-1 img {
	width: 100%;
}
	.footer {
		text-align: center;
	}
}



.footer-bg {
	background-color: #243038;
}
.footer ul li {
	list-style-type: none;
	line-height: 30px;
}
.footer ul li a, .footer ul li address, .footer-last a {
	text-decoration: none;
	color: #F6F6F6;
}
.footer ul li b {
	color: #F2BA45;
}
.footer-last {
	width: 100%;
	margin: 0 auto;
	padding: 5px 0px;
	text-align: center;
	background-color: #243038;
	color: #F6F6F6;
}

.Break-Line-shade {
	width: 85%;
	margin: 50px auto;
	height: 1px;
	background-color: #D9DADB;
}
