table {
    width: 100%;
  }

   /* .mat-row:hover {
    background-color:green;
  }  */
  /* table td.highlight {
    background-color: #4CAF50 !important;
    color: #ffffff;
  } */
  /* .mat-row:hover{
    background-color:green;
    
    } */
    
  .drop-down-class{
    background-color: rgba(0,0,0,.00);
  }