<form>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>New Password</mat-label>   
                <input matInput [(ngModel)]="passwordForm" name="password" required>
                </mat-form-field>
            </td>
        </tr>
        <!-- <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>   
                <input matInput [(ngModel)]="newEmailForm" name="newEmail" required>
                </mat-form-field>
            </td>
        </tr> -->
        
    </table>
</form>

<mat-card-actions>
    <button mat-flat-button (click)="submit()" color="primary">Submit</button>
</mat-card-actions>
