
.categories {
    text-align: center;
	margin: 100px 0px 0px 0px;
}
@media only screen and (max-width: 959px){
	.Certificate-content {
		text-align: center;
		width: 100% !important;
		padding-top: 0px !important;
	}
	.Certificate-content p {
		width: 100%;
		padding: 0px 25px;
	}
	.text-center {
	margin-top: 0px;
	line-height: 0px;
}
	
	.Certificate-img {
	width: 100% !important;
	}
	
	.footer {
		text-align: center;
	}

}


.Certificate-content p {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.text-center {
	text-align: center;
	margin-top: 60px;
}

.Certificate-img {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.Certificate-content {
	width: 50%;
	padding-top: 50px;
}

.icon-center {
	text-align: center;
}
.icons {
	margin-bottom: 50px;
}

.icon-over:hover {
	box-shadow: 1px 1px 1px 1px #B2B2B2;
	padding: 15px;
	border-radius: 4px;
}

.icon-over {
	padding: 15px;
	border-radius: 4px;
}

.icon-over h3 {
	width: 145px;
}

.Break-Line {
	width: 85%;
	margin: 50px auto;
	height: 2px;
	background-color: #243038;
}

.Break-Line-shade {
	width: 85%;
	margin: 50px auto;
	height: 1px;
	background-color: #D9DADB;
}

.footer-bg {
	background-color: #243038;
}
.footer ul li {
	list-style-type: none;
	line-height: 30px;
}
.footer ul li a, .footer ul li address, .footer-last a {
	text-decoration: none;
	color: #F6F6F6;
}
.footer ul li b {
	color: #F2BA45;
}
.footer-last {
	width: 100%;
	margin: 0 auto;
	padding: 5px 0px;
	text-align: center;
	background-color: #243038;
	color: #F6F6F6;
}
