.read-more{
  color: #263238;
  
}

.info {
	text-align: center;
	background-color: #243038;
	padding: 20px;
	border-radius: 4px;
}

.info a, .info i {
	text-decoration: none;
	color: #F2BA45;
}

.content {
	padding: 0px 10px;
	text-align: left;
}

.content span {
	text-decoration: none;
}

.blog {
	padding: 15px;
	background-color: #E8E5E5;
	width: 92%;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 1px 2px 2px 1px #9F9E9E;
}
.content b {
	font-size: 50px;
}

.quote {
	float: left;
	font-size: 50px;
	font-family: cursive;
	padding-right: 15px;
}

@media only screen and (max-width: 959px){
	.content {
	text-align: center;
}
	.footer {
		text-align: center;
	}
}

.footer-bg {
	background-color: #243038;
}
.footer ul li {
	list-style-type: none;
	line-height: 30px;
}
.footer ul li a, .footer ul li address, .footer-last a {
	text-decoration: none;
	color: #F6F6F6;
}
.footer ul li b {
	color: #F2BA45;
}
.footer-last {
	width: 100%;
	margin: 0 auto;
	padding: 5px 0px;
	text-align: center;
	background-color: #243038;
	color: #F6F6F6;
}

.Break-Line-shade {
	width: 85%;
	margin: 50px auto;
	height: 1px;
	background-color: #D9DADB;
}
