<section >
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px" *ngFor="let post of posts" class="blog">

				<div class="info">
					<h1><a href="/getpost/{{post.id}}" class="blog-title">{{post.title}}</a></h1>
					<i class="fa fa-user"><span> Author : {{post.username}}</span></i> 
				</div>																						
				<div class="content">
					 <span class="quote">"</span><span [innerHTML]="post.content"></span>
					<a mat-button href="/getpost/{{post.id}}" class="read-more">Read More</a>
				</div>																						
																										
			
			</div>
</section>
