<section >
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px" *ngFor="let post of posts" class="blog">

				<div class="info">
					<h1><a href="/getpost/{{post.id}}" class="blog-title">{{post.title}}</a></h1>
					<i class="fa fa-user"><span> Author : {{post.username}}</span></i> 
				</div>																						
				<div class="content">
					 <span class="quote">"</span><span [innerHTML]="post.content"></span>
					<a mat-button href="/getpost/{{post.id}}" class="read-more">Read More</a>
				</div>																						
																										
			
			</div>
</section>


<div class="Break-Line-shade"></div>

<section>
        <div class="footer footer-bg">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center top" fxLayoutGap="50px">
                <div>
                
                <ul>
                    <li><b>Important Links :</b></li>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/certificate/certificateNumber">Certificate Verification</a></li>
                    <li><a routerLink="/create/feedback">Contact Us</a></li>
                    <li><a routerLink="/feedback">Feedback Form</a></li>
                    <li><a routerLink="/student/login">Login</a></li>
                </ul>
                    </div>
                    <div>
                    <ul>
                    <li><b>Our Other Accounts Here :</b></li>
                    <li><a href="https://www.instagram.com/addvic_technology/">
                        <i class="fa fa-instagram fa-fw" style="font-size:24px"></i>
                        Instagram</a></li>
                    <li><a href="https://www.facebook.com/addvictechnology">
                        <i class="fa fa-facebook-f fa-fw" style="font-size:24px"></i>
                        Facebook</a></li>
                    <li><a href="https://www.linkedin.com/company/addvic">
                        <i class="fa fa-linkedin fa-fw" style="font-size:24px"></i>
                        Linkedin</a></li>
                    <li><a href="https://www.youtube.com/">
                        <i class="fa fa-youtube fa-fw" style="font-size:24px"></i>
                        Youtube</a></li>
                    <li><a href="https://wa.me/message/MN4AEW3ISURRK1">
                        <i class="fa fa-whatsapp fa-fw" style="font-size:24px"></i>
                        Whatsapp</a></li>
                </ul>
                    </div>
                    <div>
                    <ul>
                    <li><b>Our Privacy Policy is Here :</b></li>
                    <li><a routerLink="/privacy">Privacy Policy</a></li><br>
                    <li><b>About Our Terms & Conditions :</b></li>
                    <li><a routerLink="/termsAndCondition">Terms & Conditions</a></li><br>
                    <li><a routerLink="/hiring" style="color: #e2b84f;">We are Hiring !</a></li>
                    </ul>
                    </div>
                    <div>
                    <ul>
                    <li><b>Phone :</b></li>
                    <li><a href="tel:18002671818">18002671818</a></li>
                    <li><b>Email :</b></li>
                    <li><a href="mailto:info@addvic.com">info@addvic.com</a></li>
                    <li><b>Address :</b></li>
						<li><address>Chanakya Nagari, 3rd Floor, <br> Sinhgad Rd, 
                        Anand Nagar, <br> Pune - 411051</address></li>
                    </ul>
                    </div>
                    </div>
                    </div>
	
	<div class="footer-last">
            CIN No.: U72900PN2020OPC194352
            </div>
            <div class="footer-last">
                GST No.: 27AAUCA0988N1ZQ
                </div>
	<div class="footer-last" style="padding-bottom: 30px">
        All Rights Reserved &copy; <a routerLink="/home">Addvic Technology (OPC) Pvt Ltd.</a>
        </div>
        </section>
