<mat-card class="example-card">

    <mat-card-header class="text">
        <mat-card-title>Admin Form</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form class="example-form" [formGroup]="adminForm">

            <table class="example-full-width" cellspacing="0">
                 <tr>
                    <td>
                        <input #fileInput type="file" (change)="onFileInput($event)" accept="image/*" placeholder="choose a file" />
                    </td>
                </tr>                              
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Firstname</mat-label>
                            <input matInput [(ngModel)]="studObj.firstName" name="firstName" formControlName="firstName" required>
                        </mat-form-field>
 
                    </td>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Middlename</mat-label>
                            <input matInput [(ngModel)]="studObj.middleName" name="middleName" formControlName="middleName" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Lastname</mat-label>
                            <input matInput [(ngModel)]="studObj.lastName" name="lastName" formControlName="lastName" required>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                <td>
                <mat-label> Gender : </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="gender">
                  <mat-radio-button value="Male">Male </mat-radio-button>
                  <mat-radio-button value="Female">Female </mat-radio-button>
                  <mat-radio-button value="Others">Others </mat-radio-button>
                </mat-radio-group>
                </td>
                </tr> &nbsp;
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Mothersname</mat-label>
                            <input matInput [(ngModel)]="studObj.mothersName" name="mothersName" formControlName="mothersName" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>MobileNumber</mat-label>
                            <input matInput [(ngModel)]="studObj.mobileNumber" name="mobileNumber" formControlName="mobileNumber" required>

                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>ParentsNumber</mat-label>
                            <input matInput [(ngModel)]="studObj.parentNumber" name="parentNumber" formControlName="parentNumber" required>

                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Address</mat-label>
                            <input matInput [(ngModel)]="studObj.address" name="address" formControlName="address" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>City</mat-label>
                            <input matInput [(ngModel)]="studObj.city" name="city" formControlName="city" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>State</mat-label>
                            <input matInput [(ngModel)]="studObj.state" name="state" formControlName="state" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Pincode</mat-label>
                            <input matInput [(ngModel)]="studObj.pincode" name="pincode" formControlName="pincode" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>AdharNumber</mat-label>
                            <input matInput [(ngModel)]="studObj.adharNumber" name="adharNumber" formControlName="adharNumber" required>

                        </mat-form-field>
                    </td>

                </tr>

                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                             <mat-label>DateOfBirth</mat-label> 
                            <input matInput [(ngModel)]="studObj.dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" required>
                            <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker> -->
                        </mat-form-field>
                    </td>

                    <!-- <tr>
                        <td>
                            <mat-form-field appearance="outline" class="label-width">
                                <mat-label>DateOfBirth</mat-label>
                                <input matInput [(ngModel)]="studObj.dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" [matDatepicker]="picker" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </td> -->




                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>HigherQualification</mat-label>
                            <input matInput [(ngModel)]="studObj.higherQualification" name="higherQualification" formControlName="higherQualification" required>

                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Email</mat-label>
                            <input matInput [(ngModel)]="studObj.email" name="email" formControlName="email" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Username</mat-label>
                            <input matInput [(ngModel)]="studObj.username" name="username" formControlName="username" required>

                        </mat-form-field>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Password</mat-label>
                            <input matInput [(ngModel)]="studObj.password" type="password" name="password" formControlName="password" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Blood Group</mat-label>
                           
                            <mat-select>
                                <mat-option *ngFor="let blood of bloodGroup" (click)="onBloodGroupSelect(blood)" [value]="blood.bloodGroup">
                                    {{blood.bloodGroup}}
                                </mat-option>
                            </mat-select>
                           
                           
                            <!-- <input matInput [(ngModel)]="studObj.bloodGroup" name="bloodGroup" formControlName="bloodGroup" required> -->
                            <!-- <mat-select [(value)]="selected">
                                <mat-option>None</mat-option>
                                <mat-option value="option1">A+</mat-option>
                                <mat-option value="option2">O+</mat-option>
                                <mat-option value="option3">B+</mat-option>
                                <mat-option value="option3">AB+</mat-option>
                                <mat-option value="option3">A-</mat-option>
                                <mat-option value="option3">O-</mat-option>
                                <mat-option value="option3">B-</mat-option>
                                <mat-option value="option3">AB-</mat-option>
                              </mat-select> -->
                        </mat-form-field>
                    </td>
                </tr>
                <tr> 
                    <td>
                        <mat-form-field appearance="outline" class="label-width">
                            <mat-label>Role</mat-label>
                            <input matInput [(ngModel)]="studObj.role" type="role" name="role" formControlName="role" required>
                        </mat-form-field>
                    </td>
                </tr>
                 <!-- <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Course List</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let course of courses" [value]="course.courseName">
                                    {{course.courseName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Batch List</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let batch of batches" [value]="batch.batchName">
                                    {{batch.batchName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr> -->

                <!-- <tr>
                    <td>
                        <input #fileInput type="file" (change)="onFileInput($event)" accept="pdf/*" placeholder="choose a file" />
                    </td>
                </tr> -->
            </table>
            <mat-card-actions>
                <button mat-flat-button (click)="submit()" color="primary" type="submit">Submit</button>
            </mat-card-actions>
        </form>

    </mat-card-content>
  
</mat-card>


