<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
       
        <ng-container matColumnDef="hiring_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Hiring Id </th>
          <td mat-cell *matCellDef="let element"> {{element.hiring_id}} </td>
        </ng-container>                            
      
         <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fullname </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
          
          <ng-container matColumnDef="phoneNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone No.</th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
          </ng-container>

          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Message</th>
            <td mat-cell *matCellDef="let element"> {{element.message}} </td>
          </ng-container>

          

           <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation</th>
            <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
          </ng-container>

          <ng-container matColumnDef="action">&nbsp;
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <mat-icon color="warn" aria-hidden="false" (click)="onDelete(element,i)">
                delete</mat-icon>
              </td>
              </ng-container>

              <ng-container matColumnDef="resume">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Resume</th>
                <td mat-cell *matCellDef="let element"> Download
                  <i class="fa fa-download" aria-hidden="true" color="primary" id="downloadLink" (click)="showPdfDownload(element)"></i>
                  <!-- <mat-icon color="primary" aria-hidden="false" (click)="">
                    </mat-icon> -->
                   </td>
              </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
       <mat-paginator [pageSizeOptions]="[25]"></mat-paginator> 
    </div>

