.main-form form {
	display: grid !important;
	/*background-image: url("../../../assets/form-bg.svg");*/
	background-color: #243038;
	border-radius: 3px;
	padding:20px 70px;
	box-shadow: 3px 4px 4px 1px #909aa9;
	color: aliceblue;
}
.main-form {
	margin: 50px auto;
}

.form-heading {
	width: 300px;
	text-align: center;
	font-size: 20px;
	line-height: initial;
	color: #F2BA45;
}

.lead-1 {
	display: grid;
	justify-content: center;
	width: 300px;
	padding: 15px;
	background-color: bisque;
	border-radius: 3px;
	box-shadow: 3px 4px 4px 1px #909aa9;
}
.lead-1 h5 {
	color: #243038
}

.lead {
	margin-top: 40px;
}

.btn-center {
	display: grid;
	margin: 40px auto;
}

.img-width {
	height: 100px;
	margin: 0 auto;
	display: flex
}

.mat-headline {
	justify-content: center;
	display: flex;
}

.mat-card-header {
	margin-top: 50px;
}

.plan-price li {
	list-style-type: none;
	float: left;
	width: 43%;
	margin-bottom: 10px;
}
.plan-price li:nth-child(1) {
	border-right: solid 1px #000000;
}
.middle-button {
	margin-top: 10px;
}
.mat-divider {
	margin-top: 25px;
}
input::placeholder, mat-label {
	color: aliceblue;
}


::ng-deep .mat-select-arrow {
    transform: translate(990%, -25%) !important;
	color: antiquewhite;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
   color: #ffffff;
	width: 150%;
	justify-content: center;
	display: grid;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
   color: #ffffff;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label { 
   color: #129fb8;
}




.box-1, .box-2 {
	border-radius: 4px;
	box-shadow: 1px 2px 2px 1px #cccccc;
	padding: 15px;
	padding: 40px;
    background-color: beige;
}

.box-1 h6, .box-2 h6 {
	text-align: center;
	width: 100%;
	background-image: linear-gradient(90deg, #4DAAB3, #F2BA45);
	font-weight: 700;
	font-size: 20px;
	color: aliceblue;
	padding: 8px 0px;
}
.box-1 ul, .box-2 ul{
	display: contents;
}

.box-1 ul li p, .box-2 ul li p {
	width: 300px;
}

.box-1 ul li p img, .box-2 ul li p img {
	width: 20px;
	vertical-align: bottom;
}

.plan-des li {
	list-style-image: url("../../../assets/right-tick.svg");
	text-align: left;
	border-bottom: solid 1px #cccccc;
    padding: 10px 15px 0px 15px;
	
}
.wrong {
	list-style-image: url("../../../assets/wrong.svg") !important;
}




.footer-bg {
	background-color: #243038;
}
.footer ul li {
	list-style-type: none;
	line-height: 30px;
}
.footer ul li a, .footer ul li address, .footer-last a, .lead a {
	text-decoration: none;
	color: #F6F6F6;
}
.footer ul li b {
	color: #F2BA45;
}
.footer-last {
	width: 100%;
	margin: 0 auto;
	padding: 5px 0px;
	text-align: center;
	background-color: #243038;
	color: #F6F6F6;
}

@media only screen and (max-width: 959px){	
	.footer {
		text-align: center;
	}
	.main-form {
		width: 90%;
	}

}


.plan-des {
	margin-bottom: 50px;
}