.main-form form {
	text-align: center;
	display: grid !important;
}

.btn-center {
	display: grid;
	margin: 40px auto;
}

.img-width {
	height: 100px;
	margin: 0 auto;
	display: flex
}

.mat-headline {
	justify-content: center;
	display: flex;
}

.mat-card-header {
	margin-top: 50px;
}

.plan-price li {
	list-style-type: none;
	float: left;
	width: 43%;
	margin-bottom: 10px;
}
.plan-price li:nth-child(1) {
	border-right: solid 1px #000000;
}
.middle-button {
	margin-top: 10px;
}
.mat-divider {
	margin-top: 25px;
}





::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
   color: #129fb8;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
   color: #129fb8;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label { 
   color: #129fb8;
}