<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
       
         <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
          
          <ng-container matColumnDef="action">&nbsp;
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <mat-icon color="warn" aria-hidden="false" (click)="onDelete(element,i)">
                delete</mat-icon>
                <a routerLink='/createblog/{{element.id}}'>
                    <mat-icon color="green" aria-hidden="false">edit</mat-icon></a>
                </td>
                  </ng-container> 
        
           
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
       <mat-paginator [pageSizeOptions]="[25]"></mat-paginator> 
    </div>

