<!-- <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Enter your Email</mat-label>
    <input matInput name="exam_name" required>
</mat-form-field> -->
<div class="content-container">
    <mat-icon id="close-icon" (click)="closeDialog()">clear</mat-icon>
    </div>
<form>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter your Email</mat-label>   
                <input matInput [(ngModel)]="emailForm" name="email" required>
                </mat-form-field>
            </td>
        </tr>
    </table>
</form>

<mat-card-actions>
    <button mat-flat-button (click)="submit()" color="primary">Submit</button>
</mat-card-actions>

<div class="card" *ngIf="isShow">
    <p class="a-o-i">Enter verification code</p>
    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="{length:6}"></ng-otp-input>
    <!-- <span *ngIf="otp" class="o-t-p">Entered otp :-{{otp}}</span> -->
  <mat-card-actions>
    <button mat-flat-button (click)="verifyotp()" color="primary">Verify OTP</button>
</mat-card-actions>
</div>