<div>
    <img src="../assets/terms_and_conditions.svg" alt="image" class="image-size">
     </div>
<div class="main">
    <mat-card class="example-card disable-selection">
        <h4>Terms & Conditions</h4>
       
           
        <p>1. The fee can be paid either in Cash, Card Payment, Online Payment
        through website and from generated invoices, Cheque or through
        demand draft favor of Addvic Technology (OPC) Pvt Ltd, Pune.</p>
        <p>2. It is compulsory to provide correct details of Parents. The result of
        tests or any other information by the Addvic Technology (OPC) Pvt
        Ltd will be sent via SMS.</p>
        
        <p>3. The institute reserves the right to use the photograph for publicity in
        case the student secures position/success in any of the
        examinations.</p>
        
        <p>4. If any student does not pay the fee on the due date as mentioned in
        the prospectus or is defaulter in the fee payment, he/she shall be
        stopped from attending the classes. It is therefore, in the interest of
        the parents &amp; students that they should deposit the fee on the due
        dates mentioned.</p>
        
        <p>5. If student name is struck-off due to non-payment of fee for more
        than 2 weeks from the due date, the student shall have to pay Rs.
        2000/- for re-admission.</p>

        <p>6. If the teachers feel that the student is not working hard, creating
        indiscipline in the Institute, irregular in attendance, not responding
        properly, student may be expelled from the Institute. The decision of
        the Administrative Manager in this regard will be final and binding on
        the student/parent. No fee or part of the fee will be refunded in such
        cases.</p>
        
        <p>7. I understand the registration fee is non-refundable.</p>   

        <p>8. I understand that I can cancel or withdraw participation at any time
        prior to class start date for a full refund of paid tuition beyond the non-
        refundable registration fee.</p>
        
        <p>9. I understand that I can cancel within 5 days following class start date
        for a pro-rated refund of paid tuition beyond the non-refundable
        registration fee.</p>
        
        <p>10. I understand that if I cancel or withdraw from training more than
        5 days following class start date that I am not entitled to any refund or
        any reductions in tuition owed, as I must cover the cost of the lost
        seat.</p>
        
        <p>11. I understand the course may be cancelled up to a day prior to
        the training start date due to low enrollment. In the event the class
        wherein I am enrolled is cancelled by Addvic Technology (OPC) Pvt
        Ltd , I will be refunded all tuition paid up to the cancellation date,
        including my registration fee. I will also have the option of applying
        my registration fee to reserve a slot in the next scheduled cohort.</p>
        
        <p>12. I understand in order to receive full credit for any courses I must
        be present live for 80% of classes.</p>
        
        <p>13. I understand that I am not allowedto share the tele-class phone number or pass code and meeting links with anyone outside of the enrolled and participating class.</p>


        <p>14.	I understand all training calls are recorded and available to enrolled class members only.</p>
        
        <p>15.	I understand I am not allowed to share such recorded training calls with anyone who is not enrolled and participating in the class.</p>
        
        
        <p>16.	I understand all recordings are the intellectual property of Addvic Technology (OPC) Pvt Ltd.</p>
        
        <p>17.	I understand that as a trainee in any/all coach training programs with Addvic Technology (OPC) Pvt Ltd, I will be an active participant in coaching scenarios and an observer of others in similar situations. The objective of this training program is to train individuals in coaching foundations, develop and hone coaching skills, and demonstrate competency for proficient practice.</p>
        
        <p>18.	I understand that the coaching scenarios to which trainees will be exposed are strictly confidential.</p>
        
        <p>19.	I understand all Addvic Technology (OPC) Pvt Ltd training materials including, but not limited to; PowerPoint presentations, recorded webinars, handouts, etc., made available to me as a student of Addvic Technology (OPC) Pvt Ltd, are intended to train me.</p>
        
        <p>20.	I understand I am not authorized to share these training materials with others outside of my Addvic Technology (OPC) Pvt Ltd training class, nor am I authorized to use Addvic Technology (OPC) Pvt Ltd training materials to train others for my own purposes.</p>
        
        <p >By submitting a registration fee or tuition payment, I acknowledge I have read and understood the above training agreement in its entirety and agree to all terms and conditions as stated. I represent that I am at least 18 years of age and am competent to execute this statement on my own behalf.</p>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Fullname</mat-label>   
                    <input matInput [(ngModel)]="full_name" name="full_name" required>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>   
                    <input matInput [(ngModel)]="emailForm" name="email" required>
                    </mat-form-field>
                </td>
            </tr>
        </table>
         <mat-card-actions>
            <button mat-flat-button (click)="submit()" color="primary" type="button">I accepts terms & Conditions</button>
        </mat-card-actions>
        
        <!-- <a routerLink="/forgotPassword" routerLinkActive="active">Forgot Password</a>
         -->
</mat-card>
</div>
<!-- <div class="card" *ngIf="isShow">
    <p class="a-o-i">Enter verification code</p>
    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="{length:6}"></ng-otp-input> -->
    <!-- <span *ngIf="otp" class="o-t-p">Entered otp :-{{otp}}</span> -->
  <!-- <mat-card-actions>
    <button mat-flat-button (click)="verifyotp()" color="primary">Verify OTP</button>
</mat-card-actions>
</div> -->

