<div class="row"> 
    <div class="sliders">
        <ng-container *ngFor="let img of img_list; let i = index">
            <div class="slider" *ngIf="current == i" @fade>
                <img class="img" [src]="img">
            </div>
        </ng-container>
    </div>
 </div>









<div class="service-heading"><h4>We Work for the Best</h4></div>
<p class="about">
	To ensure your company has a reachable online presence – an e-commerce website can work wonders and make that wonder into a reality, we are there to serve you right. We are a result-driven agency serving educational, corporate, travel, industry, real estate, etc. ranging from B2B, B2C, or a hybrid model.<br>

      We aim to create websites that help you maximize your business revenue through online sales of products and services.
</p>
<div class="btn-center">
	<button mat-flat-button color="primary">Know more about Addvic</button>
</div>


<div class="Break-Line-shade"></div>







<div class="service-heading"><h4>What We Offer?</h4></div>

    <section class="icons">
        <div class="icon-center">
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px">
                <div class="icon-over">
                    <a [routerLink]="['/it/service']" routerLinkActive="router-link-active"><img src="../../assets/IT_Service_Icon.svg" alt="" width="80px" height="80px"></a>
                    <h3>IT Services <small>(Ex: Web Design & Development)</small></h3>
                    </div>
                    <div class="icon-over">
                    <a [routerLink]="['/digital/service']" routerLinkActive="router-link-active">
						<img src="../../assets/Digital_Service_Icon.svg" alt="" width="80px" height="80px"></a>
                    <h3>Digital Marketing Services</h3>
                    </div>
                    <div class="icon-over">
                    <a [routerLink]="['//graphics/service']" routerLinkActive="router-link-active"><img src="../../assets/Graphics_Service_Icon.svg" alt="" width="80px" height="80px"></a>
                    <h3>Graphics Design & Video Editing</h3>
                    </div>
                    <div class="icon-over">
                    <a [routerLink]="['/mechanical/service']" routerLinkActive="router-link-active"><img src="../../assets/Mechanical_Service_Icon.svg" alt="" width="80px" height="80px"></a>
                    <h3>Mechanical Services</h3>
                    </div>
                    </div>
                    </div>
        </section>


<div class="Break-Line-shade"></div>


<div class="service-heading"><h4>We Provide Job Oriented Courses as well as Internships</h4></div>

    <section class="icons">
        <div class="icon-center">
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="50px">
                <div class="icon-over">
                    <a [routerLink]="['/mechanical/courses']" routerLinkActive="router-link-active"><img src="../../../assets/Mech_Icon.svg" alt="" width="80px" height="80px"></a>
                    <h3>Mechanical Domain Courses</h3>
                    </div>
                    <div class="icon-over">
                    <a [routerLink]="['/it/courses']" routerLinkActive="router-link-active">
						<img src="../../../assets/IT-icon.svg" alt="" width="80px" height="80px"></a>
                    <h3>IT Courses / Programming</h3>
                    </div>
                    <div class="icon-over">
                    <a [routerLink]="['/graphic/service']" routerLinkActive="router-link-active"><img src="../../../assets/Digital-Marketing.svg" alt="" width="80px" height="80px"></a>
                    <h3>Digital Marketing & Graphics Design</h3>
                    </div>
                    <div class="icon-over">
                    <a [routerLink]="['/intern/service']" routerLinkActive="router-link-active"><img src="../../../assets/Internship.svg" alt="" width="80px" height="80px"></a>
                    <h3>Internship in various Domain</h3>
                    </div>
                    </div>
                    </div>
        </section>





<div class="Break-Line-shade"></div>


<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="50px" class="lead">
	<a [routerLink]="['/intern/service']" routerLinkActive="router-link-active"><div class="lead-1">
		<h5 class="form-heading">Book your seat now for our upcomming webinars.</h5>
		<button mat-flat-button color="primary" type="button">Upcomming Webinars</button>
	</div></a>
</div>


<div class="Break-Line-shade"></div>







 <section>
        <div class="footer footer-bg">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center top" fxLayoutGap="50px">
                <div>
                
                <ul>
                    <li><b>Important Links :</b></li>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/certificate/certificateNumber">Certificate Verification</a></li>
                    <li><a routerLink="/create/feedback">Contact Us</a></li>
                    <li><a routerLink="/feedback">Feedback Form</a></li>
                    <li><a routerLink="/student/login">Login</a></li>
                </ul>
                    </div>
                    <div>
                    <ul>
                    <li><b>Our Other Accounts Here :</b></li>
                    <li><a href="https://www.instagram.com/addvic_technology/">
                        <i class="fa fa-instagram fa-fw" style="font-size:24px"></i>
                        Instagram</a></li>
                    <li><a href="https://www.facebook.com/addvictechnology">
                        <i class="fa fa-facebook-f fa-fw" style="font-size:24px"></i>
                        Facebook</a></li>
                    <li><a href="https://www.linkedin.com/company/addvic">
                        <i class="fa fa-linkedin fa-fw" style="font-size:24px"></i>
                        Linkedin</a></li>
                    <li><a href="https://www.youtube.com/">
                        <i class="fa fa-youtube fa-fw" style="font-size:24px"></i>
                        Youtube</a></li>
                    <li><a href="https://wa.me/message/MN4AEW3ISURRK1">
                        <i class="fa fa-whatsapp fa-fw" style="font-size:24px"></i>
                        Whatsapp</a></li>
                </ul>
                    </div>
                    <div>
                    <ul>
                    <li><b>Our Privacy Policy is Here :</b></li>
                    <li><a routerLink="/privacy">Privacy Policy</a></li><br>
                    <li><b>About Our Terms & Conditions :</b></li>
                    <li><a routerLink="/termsAndCondition">Terms & Conditions</a></li><br>
                    <li><a routerLink="/hiring" style="color: #e2b84f;">We are Hiring !</a></li>
                    </ul>
                    </div>
                    <div>
                    <ul>
                    <li><b>Phone :</b></li>
                    <li><a href="tel:18002671818">18002671818</a></li>
                    <li><b>Email :</b></li>
                    <li><a href="mailto:info@addvic.com">info@addvic.com</a></li>
                    <li><b>Address :</b></li>
						<li><address>Chanakya Nagari, 3rd Floor, <br> Sinhgad Rd, 
                        Anand Nagar, <br> Pune - 411051</address></li>
                    </ul>
                    </div>
                    </div>
                    </div>
	
	<div class="footer-last">
            CIN No.: U72900PN2020OPC194352
            </div>
            <div class="footer-last">
                GST No.: 27AAUCA0988N1ZQ
                </div>
	<div class="footer-last" style="padding-bottom: 30px">
        All Rights Reserved &copy; <a routerLink="/home">Addvic Technology (OPC) Pvt Ltd.</a>
        </div>
        </section>










