.main {
    padding: 25px;
    /* text-align: center; */
    width:80%;
    margin: 0 auto;
    }
    
    .header{
        text-align:center '!important';
        margin: 0 auto '!important';
        display:inline;
        font-family: Poppins;
        color:#263238
    }
    .example-form{
       padding: 8px;   
    }
    /* .example-full-width{
        text-align:center '!important';
        margin: 0 auto '!important';
        display:inline;
    } */
    /* .buttons{
        position: absolute;
        width: 100px;
        transform: translateY(-50%);
        padding-bottom: 4px;
    } */
    /* .example-full-width{
        width: 400px;
    } */
    .example-full-width{
        font-family: Poppins;
        color:#263238
    }
    mat-card-title{
        text-align: center;
    }